<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <a href="/site.com">Home</a>
    </head>
    <body>
        <div>
            {% block all_categories %}{% endblock %}
        </div>
        <hr></hr>
        <div>
            {% block product %}{% endblock %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
